<html>
  <head>
    <title>About Reversi</title>

    <style>
      body {
        font-family : Ariel;
        font-size   : 1.0em;
        color       : #4E5A65;
      }
      h1  {
        font-family : Verdana;
        font-size   : 2.0em;
        color       : #535E3E;
      }
      h2  {
        font-family : sans-serif;
        font-size   : 1.5em;
        color       : #757E65;
      }

      /*p { color: #0000cc }*/

    </style>

  </head>
<body>
  <h1>Timeline</h1>
    <p>Depending on whose claim you believe, either Lewis Waterman or John
       W. Mollett are credited with creating the game in England around 1883.
       In 1970, the Japanese game company, Tsukuda Origina, registered a similar
       game as the original <em>Reversi</em> under the name <em>Othello</em>.
    </p>
  <h1>Gameplay</h1>
    <p>Play begins with 2 light disks from the challenger and 2 dark disks from
       the opponent. The dark disks are arranged diagonally in the center of the
       board, south-west to north-east. The light disks complement the dark as
       they are arranged diagonally in the center in a south-east to north-west
       configuration.
    </p>
</body>
</html>
