<html>
<head>
<title>Reversi</title>

<!-- css -->
<style>
p { color: #0000cc }

</style>

</head>
<body>
<h1>Welcome to <%= @name_of_game %></h1>
    <p>This is a game, have fun!!!</p>

    <ul>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
</body>
</html>
