<html>
<head>
<title>Reversi</title>

<!-- css -->
<style>
p { color: #0000cc }

</style>

</head>
<body>
  <table style="width:300px">
  
  <tr>
    <th></th>
    <th scope="col">A</th>
    <th scope="col">B</th>
    <th scope="col">C</th>
    <th scope="col">D</th>
    <th scope="col">E</th>
    <th scope="col">F</th>
    <th scope="col">G</th>
    <th scope="col">H</th>
  </tr>
  <tr>
    <th scope="row">1</th>
  </tr>
  <tr>
    <th scope="row">2</th>
  </tr>
  <tr>
    <th scope="row">3</th>
  </tr>
  <tr>
    <th scope="row">4</th>
  </tr>
  <tr>
    <th scope="row">5</th>
  </tr>
  <tr>
    <th scope="row">6</th>
  </tr>
  <tr>
    <th scope="row">7</th>
  </tr>
  <tr>
    <th scope="row">8</th>
  </tr>
  </table>
</body>
</html>
