<html>
  <head>
  <title><%= @page_title %></title>
    <meta name ="description"
      content="Reversi or Othello game play and fun facts"/>
    <meta name ="keywords"
      content="strategy, games, reversi, othello"/>
    <meta name ="author"
      content="Tom and Tim"/>

    <style>
      body {
        font-family : Ariel;
        font-size   : 1.0em;
        font-weight : 300;
        color       : #4E5A65;
        text-align  : center;
        background-image   : url("images/reversi.gif");
        background-position: center;}
      h1  {
        font-family : "aktiv-grotesk-std", sans-serif;
        font-size   : 2.5em;
        color       : #535E3E;
        text-align  : center;}
      h2  {
        font-family : sans-serif;
        font-size   : 1.5em;
        color       : #757E65;
        text-align  : center;}
      .wrapper {
        width       : 1200px;
        margin      : 200px auto 20px auto;
        border      : 5px solid #cccccc;
        background-color : #ffffff;}
    </style>
  </head>
<body>

    <ul id="main-nav">
      <li>
        <a href="/about">About</a>
      </li>

      <li>
        <a href="/game">Game</a>
      </li>
    </ul>

  <div class="wrapper">
    <%= yield %>
  </div>
</body>
</html>

