<html>
  <head>
  <title><%= @page_title %></title>
    <meta name ="description"
      content="Reversi or Othello game play and fun facts"/>
    <meta name ="keywords"
      content="strategy, games, reversi, othello"/>
    <meta name ="author"
      content="Tom and Tim"/>
    <link rel="stylesheet" type="text/css" href="css/application.css">
  </head>

  <body>
    <div id="navcontainer">
      <ul>
        <li id="active"><a href="/about">About</a></li>
        <li><a href="/game">Game</a></li>
        <li><a href="/">Reversi</a></li>
      </ul>
    </div>

    <!-- find out why this is needed -->
    <div style="clear: both"></div>

    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
